body {
  background-color: #222831;
  font-family: "Popins", sans-serif;
}
.navbar,
.container-fluid {
  background-color: #222831 !important;
  font-family: "Popins", sans-serif;
  color: #eeeeee;
}
.nav-link {
  color: #eeeeee !important;
}
.navbar-brand {
  color: #00adb5 !important;
  font-family: "Osfald", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}
.ri {
  color: #eeeeee !important;
}

.web {
  color: #00adb5;
}
.fullstack,
.web {
  font-size: 3rem;
  font-weight: bold;
}
.download,
.hire {
  color: #393e46 !important;
  background-color: #393e46;
  opacity: 75%;
  font-weight: bold;
  border-color: #eeeeee;
}
.download:hover,
.hire:hover {
  background-color: #00adb5;
  opacity: 100%;
  border: none;
}

.btn {
  background-color: #eeeeee !important;
  color: #00adb5;
  border-color: #00adb5;
}

.btn:hover {
  color: #393e46;
  background-color: #00adb5 !important;
}

.card {
  background-color: #eeeeee;
  border-color: #00adb5;
  border-width: 0.1rem;
}
.bi {
  color: #eeeeee !important;
}
.bi:hover {
  color: #00adb5 !important;
}
.nav-link:hover {
  color: #00adb5 !important;
}
/* 00ADB5 */
/* 393E46 */
